h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: fit-content; height:30px;
}

.hackwindow1 {
    width:300px; 
    height:450px;
    visibility:none;
}
.lastusedcreds {
    width:200px;
    height:50px;
    
}
.hacksubmit {
    color:#ffffff;
    transition-duration: 0.4s;
    background-color: #2672ec;
    font-size: 14.4px;
    width:175px;
    height:40px;
    border-width:0;
    font-family: 'Segoe UI', Geneva, Tahoma, sans-serif, Verdana, sans-serif;
}

.hacksubmit:hover {
    background-color: #4488dd;
    cursor:pointer;
}

.buttonarea {
    padding-top:20px;
    border-width:0px;
}

p {
    font-family: 'Segoe UI', Geneva, Tahoma, sans-serif, Verdana, sans-serif;
}

.creds {
    background-color:grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.4s;
    width:175px;
    height:20px;
    border-width:0;
}

.credstext {
    position:absolute;
    bottom:0;
    left:8;
}

.creds:hover {
    background-color: #696969;
    cursor:pointer;
}
